@using SilkCMS.Administrator.Plugin.MenuBuilder
@using SilkCMS.Administrator.Plugin.Data.Menu
@model IEnumerable<MenuItem>

@foreach (var item in Model)
{
if (@item.Children is null)
{
if (@item.IsSeparator)
{
    <li class="nav-separator"></li>
}
else if (@item.IsHeader)
{
    <li class="nav-title">@item.Title</li>
}
else
{
<li class="nav-item"><a class="nav-link" href="@item.Link">
@if (!@String.IsNullOrEmpty(item.Icon))
            {
                <i class="lni @item.Icon"></i>
            }
                    @item.Title
                </a></li>
        }
    }
    else
    {
        var ariaName = item.Title.ToLower().Replace(" ", "");

        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                @if (!@String.IsNullOrEmpty(item.Icon)) { <i class="lni @item.Icon"></i>}
                @item.Title
            </a>
            <ul class="nav-group-items compact">
                @{ var children = item.Children; }
                @Html.Partial("/Views/MenuBuilder/Menu.cshtml", @item.Children)
            </ul>
        </li>
    }
}       
       