@using SilkCMS.Administrator.Plugin.MenuBuilder
@using SilkCMS.Administrator.Plugin.Data.Menu
@model IEnumerable<MenuItem>

@foreach (var item in Model)
{
    @if (item.IsSeparator)
    {
    }
    else if (@item.Children is null)
    {
        @if (item.IsHeader)
        {
            <a href="#"
               class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <i class="ti ti-settings"></i>
                <span>@item.Title</span>
            </a>
        }
        else
        {
            <li class="px-1 py-0.5 first:mt-2">
                <a href="#"
                   class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm text-on-surface underline-offset-2
 hover:bg-primary/5 hover:text-on-surface-strong focus:outline-hidden focus-visible:underline dark:text-on-surface-dark 
dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">@item.Title</a>
            </li>
        }
    }
    else
    {
        var ariaName = item.Title.ToLower().Replace(" ", "");
        
        <div x-data="{ isExpanded: false }" class="flex flex-col">
            <button type="button" x-on:click="isExpanded = ! isExpanded" id="@ariaName-btn"
                    aria-controls="@ariaName" x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
                    class="flex items-center justify-between rounded-radius gap-2 px-2 py-1.5 text-sm font-medium underline-offset-2 focus:outline-hidden focus-visible:underline"
                    x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong dark:bg-primary-dark/10' :  'text-on-surface hover:bg-primary/5 hover:text-on-surface-strong dark:text-on-surface-dark dark:hover:text-on-surface-dark-strong dark:hover:bg-primary-dark/5'">
                <i class="ti ti-settings"></i>
                <span class="mr-auto text-left">@item.Title</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                     class="size-5 transition-transform rotate-0 shrink-0"
                     x-bind:class="isExpanded ? 'rotate-180' : 'rotate-0'" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
            <ul x-cloak x-collapse x-show="isExpanded" aria-labelledby="@ariaName-btn" id="@ariaName" class="ml-4">
                @{ var children = item.Children; }
                @Html.Partial("/Views/MenuBuilder/Menu.cshtml", @item.Children)                
            </ul>
            



        </div>

    }
}